doctype xml
Response
  Say(voice='alice').
    Hola, estamos contactando al conductor.

  // To dial another number, you would uncomment the <Dial> below and replace
  // +16519991111 with the number of your sales/support line
  Dial #+{driverNumber}